* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(34, 59, 79, .1);
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

.flex {
    display: flex;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}



@media (max-width: 400px) {
    

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }
}